:root {
  --color-PrimaryText: #EAECEF;
  --color-SecondaryText: #B7BDC6;
  --color-TertiaryText: #848E9C;
  --color-DisableText: #5E6673;
  --color-DisabledText: #5E6673;
  --color-success: #26a69a;
  --color-danger: #ef5350;
}